<% layout('layout') -%>
<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <img id="profile-img" src="<%= 'data:image/jpeg;base64,' + user.profile_image %>" class="online" alt="" />
        <p class='user-name hidden'><%= username %></p>
        <p><%= user.name %></p>
        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
        <div id="status-options">
          <ul>
            <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
            <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
            <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
            <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
          </ul>
        </div>
        <div id="expanded">
          <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="mikeross" />
          <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="ross81" />
          <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="mike.ross" />
        </div>
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" id="search-text" placeholder="Search contacts..." />
    </div>
    <div id="contacts">
      <% if(friends){ %> 
        <ul>
          <% for (var i=0; i < friends.length; i++){ %>
            <li class="contact" id="<%= 'contact-' + friends[i].username %>">
              <div class="wrap">
                <span class="contact-status"></span>
                <% if(friends[i].profile_image == ''){%>
                  <img src="/images/chat-background-1.jpg" alt="" />
                <%} else{ %>
                  <img src="<%= `data:image/jpeg;base64, ${friends[i].profile_image}`%>" alt="" />
                <% } %> 
                <div class="meta">
                  <p class="name"><%= friends[i].name %></p>
                  <p class="preview"></p>
                </div>
              </div>
            </li>
          <% } %>
        </ul>
      <% } %>
      <div class='no-contacts-found hidden'>No contacts found</div>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
    </div>
    <div class="messages">
      <% if(friends){ %> 
        <% for (var i=0; i < friends.length; i++){ %>
          <ul class='messages-box' id="<%= 'messages-box-' + friends[i]['username'] %>"></ul>
        <% } %>
      <% } %> 
    </div>
    <div class="message-input">
      <div class="wrap">
      <input id="txtMessage" type="text" placeholder="Write your message..." />
      <button id="attachment" ><i class="fa fa-paperclip" aria-hidden="true"></i></button>
      <button id="send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>